ul {
  list-style-type: square;
}

ul li {
  margin: 15px;
}

body {
  background-color: #92a8d1;
  color: white;
}

header {
  text-align: center;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}
