{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<font size = "+3">{{ userp.first_name }} {{ userp.last_name }} (@{{ userp.username }})</font>
<br>
<i>{{ profile.follow_count }} followers</i><br>
<i>Profile last updated: {{ profile.last_update }}</i>
{% if user.get_username == userp.username %}
<a class="btn btn-primary" href="/update/{{ userp.username }}">(Update Now)</a>
{% endif %}
<br>
<ul>
{% for repo in repositories %}
<li>{{ repo.name }} - {{ repo.num_star }}</li>
{% endfor %}
</ul>
{% endblock %}
