{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="container">
<font size = "+3">{{ userp.first_name }} {{ userp.last_name }} (@{{ userp.username }})</font>
<br>
<i>{{ profile.follow_count }} followers</i><br>
<i>Profile last updated: {{ profile.last_update }}</i>
{% if userp.username == user.get_username %}
(<a href="/update/{{ userp.username }}" class="simple">Update Now</a>)
{% endif %}
<br>
<ul>
{% for repo in repositories %}
<li>{{ repo.name }} - {{ repo.num_star }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
